<div class="zef-dropdown-container" [class.z-disabled]="disabled" fxLayout="row" (click)="onDropdownShow()" #overlayOrigin="cdkOverlayOrigin" cdkOverlayOrigin #elem>
  <ng-container *ngIf="!isMenuOpen">
    <div class="z-dropdown-placeholder" [class.z-no-selection]="!selected" fxFlex>{{ selectedItem?.name || placeholder }}</div>
    <div class="z-dropdown-caret">▾</div>
  </ng-container>

  <ng-container *ngIf="isMenuOpen">
      <input type="text" autofocus [ngModel]="filter" (ngModelChange)="filter = $event;" #filterInput />
    </ng-container>
</div>

<ng-template cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="overlayOrigin"
[cdkConnectedOverlayOpen]="isMenuOpen"
[cdkConnectedOverlayWidth]="element?.nativeElement?.offsetWidth"
[cdkConnectedOverlayHasBackdrop]="true"
[cdkConnectedOverlayBackdropClass]="'noop'"
(backdropClick)="clear()">
  <dropdown-menu [items]="items" [filter]="filter" (select)="onDropdownSelect($event)"></dropdown-menu>
</ng-template>